/* Global  */

* {
    font-family: 'Barlow', sans-serif;
    color: #fff;
}

body {
    display: flex;
}

#universe {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    overflow: hidden;
    box-sizing: border-box;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Planets */

#planet1 {
    background-color: #00B7FF;
}

#planet2 {
    background-color: #D1E6EC;
}

#planet3 {
    background-color: #fe6e00;
}

#planet4 {
    background-color: #14F4DA;
}

#planet5 {
    background-color: #AF72F4;
}

.drag-drop {
    z-index: 2;
    display: flex;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    color: #fff;
    touch-action: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
    margin-bottom: 2.75vh;
    align-items: center;
    justify-content: center;
}

.drag-drop:hover>.planetText {
    opacity: 1;
}

.planetText {
    opacity: 0;
    transition: 0.3s;
    color: #000;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}


/* BlackHole */

#blackHole {
    position: absolute;
    top: 30.5%;
    right: 10%;
    width: 200px;
    height: 200px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blackHole .subtitle {
    opacity: 0.4;
    user-select: none;
}

.dropzone {
    border-radius: 50%;
    background: #000;
    border: 3px solid #101016;
    transition: 0.2s;
}

.drop-active {
    border-color: #303040;
}

.drop-target {
    border-color: #606070;
    transform: scale(1.1, 1.1);
}

.fullBlackHole {
    /* top: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 100% !important; */
    transform: scale(15, 15);
    border: 0;
    /* border-radius: 0; */
    background-color: #000;
    z-index: 3 !important;
}

.fullBlackHole>.subtitle {
    display: none;
}


/* Projects */

#project1 {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    z-index: 4;
}

.dontShowProject {
    display: none;
}

.showProject {
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeProject {
    transform: scaleX(-1);
    color: #fff;
    cursor: pointer;
    height: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 375px;
}

.paragraph {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 81px;
    font-weight: 700;
    position: relative;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.text {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
    width: 280px;
    line-height: 22px;
    position: relative;
}

.container .title {
    animation: titleAnim 0.3s;
}

.container .subtitle {
    animation: subtitleAnim 0.5s;
}

.container .text {
    animation: textAnim 0.7s;
}

@keyframes titleAnim {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes titleAnim {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes subtitleAnim {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes textAnim {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.projectImage {
    width: 325px;
    height: 465px;
    margin-right: 75px;
    border-radius: 5px;
    position: relative;
    animation: imageAnim 0.5s;
}

@keyframes imageAnim {
    from {
        left: 10px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1;
    }
}


/* SUM */

#sum {
    position: absolute;
    top: 87%;
    width: 100vw;
    height: 100vw;
    right: 0;
    border-radius: 50%;
    background-color: #ffea00;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

#sum:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

#sum:hover>.aboutTitle {
    opacity: 1;
}

#about :is(.title, .subtitle, .text) {
    color: #000;
}

#about .text {
    font-weight: 400;
}

.aboutTitle {
    opacity: 0;
    transition: 0.2s;
    z-index: 5;
}

#about {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    z-index: 4;
}

.fullSum {
    cursor: inherit !important;
    transform: scale(2.5, 2.5) !important;
    z-index: 3 !important;
}

.icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}